body {
	font-family: Arial, Verdana;
	text-align: justify;
	background-color:#fff3db;
	margin-left:120px;
	margin-right:120px;
	font-size:18px ;
}

h1 {
	text-align: center;
	color: #fa3290;
}

h2 {
	text-align: left;
	color: #fa3290;
}

table {
	width: 90%;
	border-collapse: collapse;
	text-align: center; 
}

th {
	background-color:#ffa1d1;
	height: 50px;
	border: 1px solid #ddd;
}

td {
	padding: 8px;
	border: 1px solid #ddd;
	
}
tr:nth-child(even){background-color: #ffc9e5;}
